<!-- Fixed navbar -->
<div class="navbar navbar-main navbar-primary navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#sidebar-chat" data-toggle="sidebar-menu" class="toggle pull-right visible-xs"><i class="fa fa-comments"></i></a>
            <a class="navbar-brand" href="index.html">ThemeKit</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="nav navbar-nav{% if rtl %} navbar-right{% endif %}">
                <li><a href="../../../index.html">Themes</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header">Public User Pages</li>
                        <li{% if (page.slug == 'user-public-timeline') %} class="active"{% endif %}><a href="user-public-timeline.html">Timeline</a></li>
                        <li{% if (page.slug == 'user-public-profile') %} class="active"{% endif %}><a href="user-public-profile.html">About</a></li>
                        <li{% if (page.slug == 'user-public-users') %} class="active"{% endif %}><a href="user-public-users.html">Friends</a></li>
                        <li class="dropdown-header">Private User Pages</li>
                        <li{% if (page.slug == 'user-private-messages') %} class="active"{% endif %}><a href="user-private-messages.html">Messages</a></li>
                        <li{% if (page.slug == 'user-private-profile') %} class="active"{% endif %}><a href="user-private-profile.html">Profile</a></li>
                        <li{% if (page.slug == 'index') %} class="active"{% endif %}><a href="index.html">Timeline</a></li>
                        <li{% if (page.slug == 'user-private-users') %} class="active"{% endif %}><a href="user-private-users.html">Friends</a></li>
                    </ul>
                </li>
                <li class="dropdown{% if page.slug|contains('essential') %} active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">UI Components <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li{% if (page.slug == 'essential-buttons') %} class="active"{% endif %}><a href="essential-buttons.html"><i class="fa fa-th"></i> Buttons</a></li>
                        <li{% if (page.slug == 'essential-icons') %} class="active"{% endif %}><a href="essential-icons.html"><i class="fa fa-paint-brush"></i> Icons</a></li>
                        <li{% if (page.slug == 'essential-progress') %} class="active"{% endif %}><a href="essential-progress.html"><i class="fa fa-tasks"></i> Progress</a></li>
                        <li{% if (page.slug == 'essential-grid') %} class="active"{% endif %}><a href="essential-grid.html"><i class="fa fa-columns"></i> Grid</a></li>
                        <li{% if (page.slug == 'essential-forms') %} class="active"{% endif %}><a href="essential-forms.html"><i class="fa fa-sliders"></i> Forms</a></li>
                        <li{% if (page.slug == 'essential-tables') %} class="active"{% endif %}><a href="essential-tables.html"><i class="fa fa-table"></i> Tables</a></li>
                        <li{% if (page.slug == 'essential-tabs') %} class="active"{% endif %}><a href="essential-tabs.html"><i class="fa fa-circle-o"></i> Tabs</a></li>
                    </ul>
                </li>
                <li data-toggle="tooltip" data-placement="bottom" class="hidden-sm"
                    title="A few Color Examples. Download includes CSS Files for all color examples & the tools to Generate any Color combination. This Color-Switcher is for previewing purposes only.">
                    {% include "src/html/common/components/skins.html" { theme: 3 } %}
                </li>
            </ul>
            <ul class="nav navbar-nav {% if !rtl %} navbar-right{% endif %} {% if rtl %} navbar-left{% endif %}">
                <li class="hidden-xs">
                    <a href="#sidebar-chat" data-toggle="sidebar-menu">
                        <i class="fa fa-comments"></i>
                    </a>
                </li>
                <!-- User -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle user" data-toggle="dropdown">
                        <img src="images/people/110/guy-5.jpg" alt="Bill" class="img-circle" width="40"/>
                        Bill <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="user-private-profile.html">Profile</a></li>
                        <li><a href="user-private-messages.html">Messages</a></li>
                        <li><a href="login.html">Logout</a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</div>