<nav class="navbar navbar-subnav navbar-static-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#subnav">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-ellipsis-h"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="subnav">
            <ul class="nav navbar-nav{% if rtl %} navbar-right {% endif %}">
                <li{% if (page.slug == 'index') %} class="active"{% endif %}>
                    <a href="index.html"><i class="fa fa-fw icon-ship-wheel"></i> My Timeline</a>
                </li>
                <li{% if (page.slug == 'user-private-profile') %} class="active"{% endif %}>
                    <a href="user-private-profile.html"><i class="fa fa-fw icon-user-1"></i> Edit Profile</a>
                </li>
                <li{% if (page.slug == 'user-private-users') %} class="active"{% endif %}>
                    <a href="user-private-users.html"><i class="fa fa-fw fa-group"></i> Manage Friends</a>
                </li>
                <li{% if (page.slug == 'user-private-messages') %} class="active"{% endif %}>
                    <a href="user-private-messages.html"><i class="fa fa-fw icon-comment-fill-1"></i> Messages</a>
                </li>
            </ul>
            <ul class="nav navbar-nav hidden-xs{% if !rtl %} navbar-right{% endif %}{% if rtl %} navbar-left {% endif %}">
                <li><a href="login.html">Logout  <i class="fa fa-fw icon-unlock-fill"></i></a></li>
            </ul>
        </div><!-- /.navbar-collapse -->

    </div>
</nav>