<div class="sidebar{% if sidebarOptions %} {{ sidebarOptions }}{% endif %}" {% if sidebarData %} {{ sidebarData }}{% endif %}>
	<div data-scrollable>
		<div class="sidebar-block equal-padding text-center">
			<a href="#" class="btn btn-primary btn-block"><i class="fa fa-pencil"></i> Compose</a>
		</div>
		<ul class="sidebar-menu sm-icons-block{% if !rtl %} sm-icons-right{% endif %}">
			<li><a href="#"><i class="fa fa-inbox"></i><span>Inbox</span> <span class="badge">10</span></a></li>
			<li><a href="#"><i class="fa fa-send"></i><span>Sent</span></a></li>
			<li><a href="#"><i class="fa fa-clipboard"></i><span>Draft</span> <span class="badge">10</span></a></li>
			<li><a href="#"><i class="fa fa-warning"></i><span>Spam</span> </a></li>
		</ul>
		<div class="sidebar-block equal-padding">
			<a href="#" class="btn btn-default btn-block"><i class="fa fa-cog"></i> Account Settings</a>
		</div>
	</div>
</div>