<div class="sidebar{% if sidebarOptions %} {{ sidebarOptions }}{% endif %}" {% if sidebarData %} {{ sidebarData }}{% endif %}>
	<div class="split-vertical">
		<div class="sidebar-block equal-padding">
			<input type="text" class="form-control" placeholder="Search...">
		</div>
		<div class="split-vertical-body">
			<div class="split-vertical-cell">
				<div data-scrollable>
					<ul class="emails">
						<li class="sidebar-block">
							<a href="#">
								<span class="media">
									<span class="media-left">
										<img src="images/people/50/guy-6.jpg" alt="" class="img-circle media-object" width="25"/>
									</span>
									<span class="media-body">
										<small class="pull-right text-muted{% if rtl %} flip{% endif %}">18 Oct</small>
										<span class="text-h5">Adrian Demian</span>
									</span>
								</span>
								<span class="email-subject">Subject of the Email</span>
								<span class="email-body">Lorem ipsum dolor sit amet, some adipisicing elit.</span>
							</a>
						</li>
						<li class="sidebar-block">
							<a href="#">
								<span class="media">
									<span class="media-left">
										<img src="images/people/50/guy-1.jpg" alt="" class="img-circle media-object" width="25"/>
									</span>
									<span class="media-body">
										<small class="pull-right text-muted{% if rtl %} flip{% endif %}">18 Oct</small>
										<span class="text-h5">Adrian Demian</span>
									</span>
								</span>
								<span class="email-subject">Subject of the Email</span>
								<span class="email-body">Lorem ipsum dolor sit amet, some adipisicing elit.</span>
							</a>
						</li>
						<li class="sidebar-block">
							<a href="#">
								<span class="media">
									<span class="media-left">
										<img src="images/people/50/guy-2.jpg" alt="" class="img-circle media-object" width="25"/>
									</span>
									<span class="media-body">
										<small class="pull-right text-muted{% if rtl %} flip{% endif %}">18 Oct</small>
										<span class="text-h5">Adrian Demian</span>
									</span>
								</span>
								<span class="email-subject">Subject of the Email</span>
								<span class="email-body">Lorem ipsum dolor sit amet, some adipisicing elit.</span>
							</a>
						</li>
						<li class="sidebar-block">
							<a href="#">
								<span class="media">
									<span class="media-left">
										<img src="images/people/50/guy-3.jpg" alt="" class="img-circle media-object" width="25"/>
									</span>
									<span class="media-body">
										<small class="pull-right text-muted{% if rtl %} flip{% endif %}">18 Oct</small>
										<span class="text-h5">Adrian Demian</span>
									</span>
								</span>
								<span class="email-subject">Subject of the Email</span>
								<span class="email-body">Lorem ipsum dolor sit amet, some adipisicing elit.</span>
							</a>
						</li>
						<li class="sidebar-block">
							<a href="#">
								<span class="media">
									<span class="media-left">
										<img src="images/people/50/guy-4.jpg" alt="" class="img-circle media-object" width="25"/>
									</span>
									<span class="media-body">
										<small class="pull-right text-muted{% if rtl %} flip{% endif %}">18 Oct</small>
										<span class="text-h5">Adrian Demian</span>
									</span>
								</span>
								<span class="email-subject">Subject of the Email</span>
								<span class="email-body">Lorem ipsum dolor sit amet, some adipisicing elit.</span>
							</a>
						</li>
						<li class="sidebar-block">
							<a href="#">
								<span class="media">
									<span class="media-left">
										<img src="images/people/50/guy-5.jpg" alt="" class="img-circle media-object" width="25"/>
									</span>
									<span class="media-body">
										<small class="pull-right text-muted{% if rtl %} flip{% endif %}">18 Oct</small>
										<span class="text-h5">Adrian Demian</span>
									</span>
								</span>
								<span class="email-subject">Subject of the Email</span>
								<span class="email-body">Lorem ipsum dolor sit amet, some adipisicing elit.</span>
							</a>
						</li>
						<li class="sidebar-block">
							<a href="#">
								<span class="media">
									<span class="media-left">
										<img src="images/people/50/guy-7.jpg" alt="" class="img-circle media-object" width="25"/>
									</span>
									<span class="media-body">
										<small class="pull-right text-muted{% if rtl %} flip{% endif %}">18 Oct</small>
										<span class="text-h5">Adrian Demian</span>
									</span>
								</span>
								<span class="email-subject">Subject of the Email</span>
								<span class="email-body">Lorem ipsum dolor sit amet, some adipisicing elit.</span>
							</a>
						</li>
						<li class="sidebar-block">
							<a href="#">
								<span class="media">
									<span class="media-left">
										<img src="images/people/50/guy-8.jpg" alt="" class="img-circle media-object" width="25"/>
									</span>
									<span class="media-body">
										<small class="pull-right text-muted{% if rtl %} flip{% endif %}">18 Oct</small>
										<span class="text-h5">Adrian Demian</span>
									</span>
								</span>
								<span class="email-subject">Subject of the Email</span>
								<span class="email-body">Lorem ipsum dolor sit amet, some adipisicing elit.</span>
							</a>
						</li>
						<li class="sidebar-block">
							<a href="#">
								<span class="media">
									<span class="media-left">
										<img src="images/people/50/guy-9.jpg" alt="" class="img-circle media-object" width="25"/>
									</span>
									<span class="media-body">
										<small class="pull-right text-muted{% if rtl %} flip{% endif %}">18 Oct</small>
										<span class="text-h5">Adrian Demian</span>
									</span>
								</span>
								<span class="email-subject">Subject of the Email</span>
								<span class="email-body">Lorem ipsum dolor sit amet, some adipisicing elit.</span>
							</a>
						</li>
						<li class="sidebar-block">
							<a href="#">
								<span class="media">
									<span class="media-left">
										<img src="images/people/50/woman-1.jpg" alt="" class="img-circle media-object" width="25"/>
									</span>
									<span class="media-body">
										<small class="pull-right text-muted{% if rtl %} flip{% endif %}">18 Oct</small>
										<span class="text-h5">Adrian Demian</span>
									</span>
								</span>
								<span class="email-subject">Subject of the Email</span>
								<span class="email-body">Lorem ipsum dolor sit amet, some adipisicing elit.</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>