<div class="sidebar{% if sidebarOptions %} {{sidebarOptions}}{% endif %}" id="sidebar-menu">
    <div data-scrollable>
        <div class="sidebar-block">
            <div class="profile">
                <img src="images/people/110/guy-5.jpg" alt="people" class="img-circle"/>
                <h4>Bill S.</h4>
            </div>
        </div>
        <h4 class="category">Account</h4>
        <ul class="sidebar-menu">
            <li{% if (page.slug == 'user-private-profile') %} class="active"{% endif %}><a href="user-private-profile.html"><i class="icon-user-1"></i> <span>Edit Profile</span></a></li>
            <li{% if (page.slug == 'user-private-users') %} class="active"{% endif %}><a href="user-private-users.html"><i class="fa fa-group"></i> <span>Manage Friends</span></a></li>
            <li{% if (page.slug == 'user-private-messages') %} class="active"{% endif %}><a href="user-private-messages.html"><i class="icon-comment-fill-1"></i> <span>Messages</span></a></li>
            <li><a href="login.html"><i class="icon-unlock-fill"></i> <span>Logout</span></a></li>
        </ul>
    </div>
</div>