<div class="sidebar{% if sidebarOptions %} {{sidebarOptions}}{% endif %}" id="sidebar-menu">
    <div data-scrollable>
        <div class="sidebar-block">
            <div class="profile">
                <img src="images/people/110/guy-6.jpg" alt="people" class="img-circle"/>
                <h4>Adrian D.</h4>
            </div>
        </div>
        <div class="category">About</div>
        <div class="sidebar-block">
            <ul class="list-about">
                <li><i class="fa fa-map-marker"></i> Amsterdam, NL</li>
                <li><i class="fa fa-link"></i> <a href="#">www.mosaicpro.biz</a></li>
                <li><i class="fa fa-twitter"></i> <a href="#">/mosaicprobiz</a></li>
            </ul>
        </div>
        <div class="category">Photos</div>
        <div class="sidebar-block">
            <div class="sidebar-photos">
                <ul>
                    <li><a href="#"><img src="images/place1.jpg" alt="people"/></a></li>
                    <li><a href="#"><img src="images/place2.jpg" alt="people"/></a></li>
                    <li><a href="#"><img src="images/place3.jpg" alt="people"/></a></li>
                    <li><a href="#"><img src="images/food1.jpg" alt="people"/></a></li>
                    <li><a href="#"><img src="images/food1.jpg" alt="people"/></a></li>
                    <li><a href="#"><img src="images/place3.jpg" alt="people"/></a></li>
                    <li><a href="#"><img src="images/place2.jpg" alt="people"/></a></li>
                    <li><a href="#"><img src="images/place1.jpg" alt="people"/></a></li>
                </ul>
                <a href="#" class="btn btn-primary btn-xs">view all</a>
            </div>
        </div>
        <div class="category">Activity</div>
        <div class="sidebar-block">
            <ul class="sidebar-feed">
                <li class="media">
                    <div class="media-left">
                        <span class="media-object">
                            <i class="fa fa-fw fa-bell"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <a href="" class="text-white">Adrian</a> just logged in
                        <span class="time">2 min ago</span>
                    </div>
                    <div class="media-right">
                        <span class="news-item-success"><i class="fa fa-circle"></i></span>
                    </div>
                </li>
                <li class="media">

                    <div class="media-left">
                        <span class="media-object">
                            <i class="fa fa-fw fa-bell"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <a href="" class="text-white">Adrian</a> just added  <a href="" class="text-white">mosaicpro</a> as their office
                        <span class="time">2 min ago</span>
                    </div>
                    <div class="media-right">
                        <span class="news-item-success"><i class="fa fa-circle"></i></span>
                    </div>
                </li>
                <li class="media">
                    <div class="media-left">
                        <span class="media-object">
                            <i class="fa fa-fw fa-bell"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <a href="" class="text-white">Adrian</a> just logged in
                        <span class="time">2 min ago</span>
                    </div>
                </li>
                <li class="media">
                    <div class="media-left">
                        <span class="media-object">
                            <i class="fa fa-fw fa-bell"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <a href="" class="text-white">Adrian</a> just logged in
                        <span class="time">2 min ago</span>
                    </div>
                </li>
                <li class="media">
                    <div class="media-left">
                        <span class="media-object">
                            <i class="fa fa-fw fa-bell"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <a href="" class="text-white">Adrian</a> just logged in
                        <span class="time">2 min ago</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>