{% extends "src/html/themes/learning/layouts/_course.html" %}

{% block content %}

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="media">
                <span class="pull-right icon-block double media-object bg-lightred"><i class="fa fa-github"></i></span>
                <div class="media-body">
                    <h1 class="h3 media-heading">Github Webhooks for Beginners</h1>
                    <p class="small text-muted">
                        <i class="fa fa-clock-o fa-fw"></i> 4 hrs
                        <i class="fa fa-user fa-fw"></i> Adrian Demian
                        <i class="fa fa-calendar fa-fw"></i> 21/10/14
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, assumenda blanditiis, corporis, eaque exercitationem harum illo incidunt labore natus odio quas quod tenetur voluptatum. Adipisci amet architecto aut dignissimos facere fugit hic iste iusto, minus molestias nemo obcaecati odit officiis perspiciatis, porro provident quasi ratione reiciendis repudiandae rerum sapiente temporibus ut voluptate. Aperiam atque consequuntur facere in nisi quos rem.</p>
                    <span class="label bg-lightred">New</span>
                    <span class="label label-default">GitHub</span>
                    <span class="label label-default">Beginner</span>
                </div>
            </div>
        </div>
    </div>

    <h5>Curriculum</h5>
    <div class="panel panel-default curriculum open">
        <div class="panel-heading panel-heading-gray" data-toggle="collapse" data-target="#curriculum-1">
            <div class="media">
                <span class="icon-block half pull-left"><i class="fa fa-graduation-cap"></i></span>
                <div class="media-body">
                    <h4 class="media-heading">Step by Step</h4>
                    <p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cumque minima nemo repudiandae rerum! Aspernatur at, autem expedita id illum laudantium molestias officiis quaerat, rem sapiente sint totam velit. Enim.</p>
                </div>
            </div>
            <span class="collapse-status collapse-open">Open</span>
            <span class="collapse-status collapse-close">Close</span>
        </div>
        <div class="list-group collapse in" id="curriculum-1">
            <div class="list-group-item" data-target="lesson.html">
                <div class="table-responsive">
                    <table class="table table-condensed table-borderless margin-none">
                        <tbody>
                            <tr>
                                <td class="w50">1.</td>
                                <td>Installation</td>
                                <td class="text-right">2:03 min</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="list-group-item active" data-target="lesson.html">
                <div class="table-responsive">
                    <table class="table table-condensed table-borderless margin-none">
                        <tbody>
                            <tr>
                                <td class="w50">2.</td>
                                <td>M-V-Huh?</td>
                                <td class="text-right">25:01 min</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="list-group-item" data-target="lesson.html">
                <div class="table-responsive">
                    <table class="table table-condensed table-borderless margin-none">
                        <tbody>
                            <tr>
                                <td class="w50">3.</td>
                                <td>Models</td>
                                <td class="text-right">12:10 min</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="list-group-item" data-target="lesson.html">
                <div class="table-responsive">
                    <table class="table table-condensed table-borderless margin-none">
                        <tbody>
                            <tr>
                                <td class="w50">4.</td>
                                <td>Database Access</td>
                                <td class="text-right">1:25 min</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="list-group-item" data-target="lesson.html">
                <div class="table-responsive">
                    <table class="table table-condensed table-borderless margin-none">
                        <tbody>
                            <tr>
                                <td class="w50">5.</td>
                                <td>Eloquent Basics</td>
                                <td class="text-right">22:30 min</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default curriculum">
        <div class="panel-heading panel-heading-gray" data-toggle="collapse" data-target="#curriculum-2">
            <div class="media">
                <span class="icon-block half pull-left"><i class="fa fa-graduation-cap"></i></span>
                <div class="media-body">
                    <h4 class="media-heading">Another Chapter</h4>
                    <p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cumque minima nemo repudiandae rerum! Aspernatur at, autem expedita id illum laudantium molestias officiis quaerat, rem sapiente sint totam velit. Enim.</p>
                </div>
            </div>
            <span class="collapse-status collapse-open">Open</span>
            <span class="collapse-status collapse-close">Close</span>
        </div>
        <div class="list-group collapse" id="curriculum-2">
            <div class="list-group-item" data-target="lesson.html">
                <div class="table-responsive">
                    <table class="table table-condensed table-borderless margin-none">
                        <tbody>
                        <tr>
                            <td class="w50">1.</td>
                            <td>Installation</td>
                            <td class="text-right">2:03 min</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="list-group-item active" data-target="lesson.html">
                <div class="table-responsive">
                    <table class="table table-condensed table-borderless margin-none">
                        <tbody>
                        <tr>
                            <td class="w50">2.</td>
                            <td>M-V-Huh?</td>
                            <td class="text-right">25:01 min</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="list-group-item" data-target="lesson.html">
                <div class="table-responsive">
                    <table class="table table-condensed table-borderless margin-none">
                        <tbody>
                        <tr>
                            <td class="w50">3.</td>
                            <td>Models</td>
                            <td class="text-right">12:10 min</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="list-group-item" data-target="lesson.html">
                <div class="table-responsive">
                    <table class="table table-condensed table-borderless margin-none">
                        <tbody>
                        <tr>
                            <td class="w50">4.</td>
                            <td>Database Access</td>
                            <td class="text-right">1:25 min</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="list-group-item" data-target="lesson.html">
                <div class="table-responsive">
                    <table class="table table-condensed table-borderless margin-none">
                        <tbody>
                        <tr>
                            <td class="w50">5.</td>
                            <td>Eloquent Basics</td>
                            <td class="text-right">22:30 min</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}