{% extends "src/html/themes/learning/layouts/_public.html" %}

{% block content %}
    
    <div class="cover overlay tutors height-200 height-250-xs">
        <div class="overlay overlay-full overlay-bg-grey">
            <div class="container">
                <h1 class="text-display-1 text-overlay">Learn from the best Tutors</h1>
                <p class="text-subhead text-overlay">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur debitis doloremque dolorum error excepturi illum ipsa ipsam modi. <span class="hidden-sm hidden-xs">Nesciunt nulla obcaecati porro quibusdam repellendus reprehenderit saepe sequi, velit veniam voluptates!</span></p>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row" data-toggle="gridalicious" data-gutter="20" data-width="500">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="">Johnathan S.</a></h3>
                </div>
                <div class="panel-body">
                    <div class="media">
                        <a href="lesson.html" class="pull-left">
                            <img src="images/people/110/guy-1.jpg" alt="people" class="media-object"/>
                        </a>
                        <div class="media-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet commodi delectus, excepturi facilis in iusto magnam modi nulla numquam provident quam quis repudiandae ullam ut.</p>
                            <span class="label label-default">UI Designer</span>
                            <a class="btn btn-sm btn-primary">View profile</a>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <h5 class="margin-none">Latest course</h5>
                    <div class="media">
                        <span class="icon-block half bg-gray-dark pull-left media-object"><i class="fa fa-css3"></i></span>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="lesson.html" class="text-primary">CSS Processing with LESS</a></h4>
                            <p class="small text-muted margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero odit quas qui quo repellat? Commodi ex harum ipsam ullam. Harum!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="">Fabrice M.</a></h3>
                </div>
                <div class="panel-body">
                    <div class="media">
                        <a href="lesson.html" class="pull-left">
                            <img src="images/people/110/guy-2.jpg" alt="people" class="media-object"/>
                        </a>
                        <div class="media-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet commodi delectus, excepturi facilis in iusto magnam modi nulla numquam provident quam quis repudiandae ullam ut.</p>
                            <span class="label label-default">Senior Developer</span>
                            <a class="btn btn-sm btn-primary">View profile</a>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <h5 class="margin-none">Latest course</h5>
                    <div class="media">
                        <span class="icon-block half bg-lightred pull-left media-object"><i class="fa fa-github"></i></span>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="lesson.html" class="text-primary">Github Webhooks for beginners</a></h4>
                            <p class="small text-muted margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero odit quas qui quo repellat? Commodi ex harum ipsam ullam. Harum!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="">Diane D.</a></h3>
                </div>
                <div class="panel-body">
                    <div class="media">
                        <a href="lesson.html" class="pull-left">
                            <img src="images/people/110/woman-2.jpg" alt="people" class="media-object"/>
                        </a>
                        <div class="media-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet commodi delectus, excepturi facilis in iusto magnam modi nulla numquam provident quam quis repudiandae ullam ut.</p>
                            <span class="label label-default">Senior Designer</span>
                            <a class="btn btn-sm btn-primary">View profile</a>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <h5 class="margin-none">Latest course</h5>
                    <div class="media">
                        <span class="icon-block half bg-purple pull-left media-object"><i class="fa fa-jsfiddle"></i></span>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="lesson.html" class="text-primary">Writing Modular JavaScript</a></h4>
                            <p class="small text-muted margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero odit quas qui quo repellat? Commodi ex harum ipsam ullam. Harum!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><a href="">Nicole G.</a></h3>
                </div>
                <div class="panel-body">
                    <div class="media">
                        <a href="lesson.html" class="pull-left">
                            <img src="images/people/110/woman-3.jpg" alt="people" class="media-object"/>
                        </a>
                        <div class="media-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet commodi delectus, excepturi facilis in iusto magnam modi nulla numquam provident quam quis repudiandae ullam ut.</p>
                            <span class="label label-default">Senior Developer</span>
                            <a class="btn btn-sm btn-primary">View profile</a>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <h5 class="margin-none">Latest course</h5>
                    <div class="media">
                        <span class="icon-block half bg-brown pull-left media-object"><i class="fa fa-wordpress"></i></span>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="lesson.html" class="text-primary">WordPress Theme Development</a></h4>
                            <p class="small text-muted margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero odit quas qui quo repellat? Commodi ex harum ipsam ullam. Harum!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
        
{% endblock %}