<div class="row">
	<div class="col-lg-8">
		{% include "lib/media-player/html/cover-with-playlist.html" %}

		<h4>Comments</h4>
		<form>
			<div class="form-group input-group">
				<input type="text" class="form-control" placeholder="Your comment ..">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button"><i class="fa fa-plus"></i></button>
                    </span>
			</div>
		</form>

		<div class="panel panel-default">
			<div class="panel-body">
				<div class="media">
					<div class="media-left">
						<a href=""><img class="media-object" src="images/people/50/guy-2.jpg" alt="people"/></a>
					</div>
					<div class="media-body">
						<small class="text-grey-300 pull-right{% if rtl %} flip {% endif%}">2 minutes ago</small>
						<h4 class="margin-bottom-none">Andrew B.</h4>
						<p class="margin-none">Great album release! Definitely a purchase</p>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="media">
					<div class="media-left">
						<a href=""><img class="media-object" src="images/people/50/woman-5.jpg" alt="people"/></a>
					</div>
					<div class="media-body">
						<small class="text-grey-300 pull-right{% if rtl %} flip {% endif%}">2 hours ago</small>
						<h4 class="margin-bottom-none">Jane D.</h4>
						<p class="margin-none">Awesome album! +1</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-4">

		{% include "lib/ui-lib/html/widgets/music-whats-hot.html" %}

		<div class="panel panel-default">
			<div class="panel-body">
				<h4>Discover Music</h4>
				<p>Build for music enthusiasts, our platform has lots of ways to help you find music you'll love and artists you'll fall in love with.</p>
				<a class="btn btn-primary" href="discover.html"><i class="fa fa-fw fa-search"></i> Search</a>
			</div>
		</div>

	</div>
</div>