
<h1>This Week's Highlights</h1>
<div class="row">
	<div class="col-lg-8 col-md-7">

		<!-- Tabbable Widget -->
		<div class="tabbable tabs-vertical{% if !rtl %} tabs-right-lg{% endif %}{% if rtl %} tabs-left-lg{% endif %}">

			<!-- Tabs -->
			<ul class="nav nav-tabs">
				<li class="active"><a href="#music-cover-1" data-toggle="tab"><i class="fa fa-fw icon-music-note-2"></i> The Voyager</a></li>
				<li><a href="#music-cover-2" data-toggle="tab"><i class="fa fa-fw icon-music-note-2"></i> Things Happen</a></li>
				<li><a href="#music-cover-3" data-toggle="tab"><i class="fa fa-fw icon-music-note-2"></i> Dream of Sound</a></li>
			</ul>
			<!-- // END Tabs -->

			<!-- Panes -->
			<div class="tab-content">
				<div id="music-cover-1" class="tab-pane active">
					<div class="cover overlay height-320-lg cover-image-full">
						<div class="overlay overlay-bg-black">
							<h3 class="text-h3 text-overlay margin-top-none">
								The Voyager
                                    <span class="text-h5">
                                        <span class="fa fa-fw fa-star text-primary"></span>
                                        <span class="fa fa-fw fa-star text-primary"></span>
                                        <span class="fa fa-fw fa-star text-primary"></span>
                                        <span class="fa fa-fw fa-star-o text-white"></span>
                                        <span class="fa fa-fw fa-star-o text-white"></span>
                                    </span>
							</h3>

							<p class="text-subhead text-overlay">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consectetur cumque distinctio doloremque error est fugiat perferendis quisquam tempore vel.</p>
						</div>
						<img src="images/banner/sexy-girl-holiday-makeup.jpg" alt="cover"/>
					</div>
				</div>
				<div id="music-cover-2" class="tab-pane">
					<div class="cover overlay height-320-lg cover-image-full">
						<div class="overlay overlay-bg-white">
							<h3 class="text-h3 text-overlay margin-top-none">
								Things Happen
                                    <span class="text-h5">
                                        <span class="fa fa-fw fa-star text-primary"></span>
                                        <span class="fa fa-fw fa-star text-primary"></span>
                                        <span class="fa fa-fw fa-star text-primary"></span>
                                        <span class="fa fa-fw fa-star-o text-black"></span>
                                        <span class="fa fa-fw fa-star-o text-black"></span>
                                    </span>
							</h3>
							<p class="text-subhead text-overlay">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consectetur cumque distinctio doloremque error est fugiat perferendis quisquam tempore vel.</p>
						</div>
						<img src="images/banner/fashion-beauty-holiday-makeup.jpg" alt="cover"/>
					</div>
				</div>
				<div id="music-cover-3" class="tab-pane">
					<div class="cover overlay height-320-lg cover-image-full">
						<div class="overlay overlay-bg-white">
							<h3 class="text-h3 text-overlay margin-top-none">
								Dream of Sound
                                    <span class="text-h5">
                                        <span class="fa fa-fw fa-star text-primary"></span>
                                        <span class="fa fa-fw fa-star text-primary"></span>
                                        <span class="fa fa-fw fa-star text-primary"></span>
                                        <span class="fa fa-fw fa-star-o text-black"></span>
                                        <span class="fa fa-fw fa-star-o text-black"></span>
                                    </span>
							</h3>
							<p class="text-subhead text-overlay">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consectetur cumque distinctio doloremque error est fugiat perferendis quisquam tempore vel.</p>
						</div>
						<img src="images/banner/beauty-portrait-classic-jazz.jpg" alt="cover"/>
					</div>
				</div>
			</div>
			<!-- // END Panes -->

		</div>
		<!-- // END Tabbable Widget -->

	</div>
	<div class="col-lg-4 col-md-5">
		{% include "lib/ui-lib/html/widgets/music-whats-hot.html" %}
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title">Upcoming Events</h4>
	</div>
	<div class="owl-mixed">

		<div class="item">
			<div class="media media-clearfix-xs-min">
				<div class="media-left">
					<img src="images/300/main-playing-guitar.jpg" alt="" class="media-object"/>
				</div>
				<div class="media-body">
					<h4 class="media-heading"><a href="">Live with Michael Star</a></h4>
					<p class="meta"><span><i class="fa fa-calendar-o fa-fw"></i> 04 Feb 2015</span><span><i class="fa fa-map-marker fa-fw"></i>Amsterdam, NL</span></p>
					<p>Join Michael in his live concert at the Amsterdam Hall. Gift tickets available!</p>
				</div>
			</div>
		</div>

		<div class="item">
			<div class="media media-clearfix-xs-min">
				<div class="media-left">
					<img src="images/300/beauty-fashion-portrait.jpg" alt="" class="media-object"/>
				</div>
				<div class="media-body">
					<h4 class="media-heading"><a href="">Love Songs by Michelle</a></h4>
					<p class="meta"><span><i class="fa fa-calendar-o fa-fw"></i> 29 Mar 2014</span><span><i class="fa fa-map-marker fa-fw"></i>Munich, Germany</span></p>
					<p>Watch Michelle's performance in Munich.</p>
				</div>
			</div>
		</div>

		<div class="item">
			<div class="media media-clearfix-xs-min">
				<div class="media-left">
					<img src="images/400/singing-woman.jpg" alt="" class="media-object"/>
				</div>
				<div class="media-body">
					<h4 class="media-heading"><a href="">Star Girl</a></h4>
					<p class="meta"><span><i class="fa fa-calendar-o fa-fw"></i> 04 Feb 2015</span><span><i class="fa fa-map-marker fa-fw"></i>Amsterdam, NL</span></p>
					<p>Join Start in her live concert at the Amsterdam Hall.</p>
				</div>
			</div>
		</div>

	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title">Albums and EPs</h4>
	</div>
	<div class="panel-body">
		<div class="owl-basic" data-items="5">
			<div class="item">
				<div class="cover overlay hover">
					<img src="images/400/autumn-woman-fall.jpg" alt="music" class="img-responsive" /></a>
					<a href="album.html" class="overlay overlay-full overlay-hover overlay-bg-black">
                            <span class="v-center">
                                <span class="btn btn-lg btn-circle btn-white">
                                    <i class="fa fa-play"></i>
                                </span>
                            </span>
					</a>
				</div>
				<h4 class="margin-bottom-none"><a href="">Godspeed</a></h4>
				<span class="text-grey-500">Soul</span>
			</div>
			<div class="item">
				<div class="cover overlay hover">
					<img src="images/400/fashion-beauty-portrait-sexy-girl.jpg" alt="music" class="img-responsive" />
					<a href="album.html" class="overlay overlay-full overlay-hover overlay-bg-black">
                            <span class="v-center">
                                <span class="btn btn-lg btn-circle btn-white">
                                    <i class="fa fa-play"></i>
                                </span>
                            </span>
					</a>
				</div>
				<h4 class="margin-bottom-none"><a href="">Dreams</a></h4>
				<span class="text-grey-500">Shine</span>
			</div>
			<div class="item">
				<div class="cover overlay hover">
					<img src="images/400/portrait-of-man-with-guitar.jpg" alt="music" class="img-responsive" />
					<a href="album.html" class="overlay overlay-full overlay-hover overlay-bg-black">
                            <span class="v-center">
                                <span class="btn btn-lg btn-circle btn-white">
                                    <i class="fa fa-play"></i>
                                </span>
                            </span>
					</a>
				</div>
				<h4 class="margin-bottom-none"><a href="">My Band</a></h4>
				<span class="text-grey-500">Awesome</span>
			</div>
			<div class="item">
				<div class="cover overlay hover">
					<img src="images/400/young-couple-in-love.jpg" alt="music" class="img-responsive" />
					<a href="album.html" class="overlay overlay-full overlay-hover overlay-bg-black">
                            <span class="v-center">
                                <span class="btn btn-lg btn-circle btn-white">
                                    <i class="fa fa-play"></i>
                                </span>
                            </span>
					</a>
				</div>
				<h4 class="margin-bottom-none"><a href="">Angels</a></h4>
				<span class="text-grey-500">Heaven</span>
			</div>
			<div class="item">
				<div class="cover overlay hover">
					<img src="images/400/portrait-trendy-hair-style.jpg" alt="music" class="img-responsive" />
					<a href="album.html" class="overlay overlay-full overlay-hover overlay-bg-black">
                            <span class="v-center">
                                <span class="btn btn-lg btn-circle btn-white">
                                    <i class="fa fa-play"></i>
                                </span>
                            </span>
					</a>
				</div>
				<h4 class="margin-bottom-none"><a href="">Pop Rock</a></h4>
				<span class="text-grey-500">Surreal</span>
			</div>
			<div class="item">
				<div class="cover overlay hover">
					<img src="images/400/autumn-woman-fall.jpg" alt="music" class="img-responsive" /></a>
					<a href="album.html" class="overlay overlay-full overlay-hover overlay-bg-black">
                            <span class="v-center">
                                <span class="btn btn-lg btn-circle btn-white">
                                    <i class="fa fa-play"></i>
                                </span>
                            </span>
					</a>
				</div>
				<h4 class="margin-bottom-none"><a href="">Godspeed</a></h4>
				<span class="text-grey-500">Soul</span>
			</div>
			<div class="item">
				<div class="cover overlay hover">
					<img src="images/400/fashion-beauty-portrait-sexy-girl.jpg" alt="music" class="img-responsive" />
					<a href="album.html" class="overlay overlay-full overlay-hover overlay-bg-black">
                            <span class="v-center">
                                <span class="btn btn-lg btn-circle btn-white">
                                    <i class="fa fa-play"></i>
                                </span>
                            </span>
					</a>
				</div>
				<h4 class="margin-bottom-none"><a href="">Dreams</a></h4>
				<span class="text-grey-500">Shine</span>
			</div>
			<div class="item">
				<div class="cover overlay hover">
					<img src="images/400/portrait-of-man-with-guitar.jpg" alt="music" class="img-responsive" />
					<a href="album.html" class="overlay overlay-full overlay-hover overlay-bg-black">
                            <span class="v-center">
                                <span class="btn btn-lg btn-circle btn-white">
                                    <i class="fa fa-play"></i>
                                </span>
                            </span>
					</a>
				</div>
				<h4 class="margin-bottom-none"><a href="">My Band</a></h4>
				<span class="text-grey-500">Awesome</span>
			</div>
		</div>
	</div>
</div>
