<div class="sidebar{% if sidebarOptions %} {{sidebarOptions}}{% endif %}" id="sidebar-menu">
    <div data-scrollable>
        <h4 class="category">Course Information</h4>
        <div class="sidebar-block">
            <div class="media">
                <span class="pull-left media-object icon-block half bg-gray-dark">
                    <i class="fa fa-book"></i>
                </span>
                <div class="media-body">
                    <h4 class="sidebar-heading media-heading">Github Webhooks</h4>
                </div>
            </div>
            <p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda autem   ...</p>
        </div>
        <h4 class="category">Get access</h4>
        <div class="sidebar-block">
            <ul class="list-group list-group-menu primary">
                <li class="list-group-item active">
                    <a href="">Subscribe <span class="badge pull-right">&dollar;9/mo</span></a>
                </li>
                <li class="list-group-item">
                    <a href="">Just this course <span class="badge pull-right">&dollar;5</span></a>
                </li>
            </ul>
        </div>
        <h4 class="category">Tutor</h4>
        <div class="sidebar-block">
            <div class="media">
                <a class="pull-left" href=""><img class="img-circle media-object" src="images/people/50/guy-1.jpg" alt="people" /></a>
                <div class="media-body">
                    <h4 class="sidebar-heading media-heading">John. S</h4>
                    <p>Leading UX Designer</p>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias assumenda autem ...</p>
        </div>
        <div class="sidebar-block equal-padding">
            <a class="btn btn-block btn-default" href="library-grid.html">Back to Library</a>
        </div>
    </div>
</div>