{% include "lib/layout/html/_header.html" { htmlClass: 'ls-top-navbar show-sidebar sidebar-r2' } %}

{% include "src/html/themes/admin/_navbar.html" %}
{% include "src/html/themes/admin/_sidebar.html" { sidebarOptions: "right sidebar-size-2 sidebar-offset-0 sidebar-skin-blue sidebar-visible-desktop sidebar-visible-mobile", sidebarData: "id=sidebar-menu data-type=dropdown" } %}

<div id="content">
    <div class="container-fluid">
        {% include "lib/layout/html/samples/_layouts.html" { fixed: false } %}
    </div>
</div>

{% include "lib/layout/html/_footer_scripts.html" %}