<div class="media media-grid media-clearfix-xs">
	{% if !rtl %}<div class="media-left">{% endif %}
	{% if rtl %}<div class="media-right">{% endif %}
			<div class="width-250 width-auto-xs">
			{% include "lib/ui-lib/html/widgets/user-1.html" %}

			<!-- Contact -->
			<div class="panel panel-default">
				<div class="panel-heading">
					Contact
				</div>
				<ul class="icon-list icon-list-block">
					<li><i class="fa fa-envelope fa-fw"></i> <a href="#">contact@mosaicpro.biz</a></li>
					<li><i class="fa fa-facebook fa-fw"></i> <a href="#">/facebook</a></li>
					<li><i class="fa fa-behance fa-fw"></i> <a href="#">/user</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="media-body">
		<div class="panel panel-default share">
			<div class="input-group">
				<div class="input-group-btn">
					<a class="btn btn-primary" href="#"><i class="fa fa-envelope"></i> Send</a>
				</div>
				<input type="text" class="form-control share-text" placeholder="Write message..."/>
			</div>
		</div>

		{% include "lib/ui-lib/html/pages/profile.html" %}
	</div>
</div>
