<h1>Appointments</h1>
<div class="row">

    <!-- col -->
    <div class="col-md-4 col-lg-3">
        <div class="panel panel-default">
            <div class="panel-body text-center">
                <strong>Next appointment</strong>
                <p class="lead text-primary margin-v-10"><strong>2h 15min</strong></p>
                <a href="" class="btn btn-danger">Cancel <i class="fa fa-times"></i></a>
            </div>
            <div class="panel-footer  text-center">
                <a href="">Saul Jehonathan</a> Ultrasonographer
            </div>
        </div>
        <div class="panel panel-default">
            <div class="datepicker"></div>
        </div>
    </div>
    <!-- // END col -->
    <!-- col -->
    <div class="col-md-8 col-lg-9">
        <div class="panel panel-default">
            <div class="panel-body">
                <form action="#" class="form-horizontal" role="form">
                    <input type="text" class="form-control" placeholder="Search appointments ...">
                </form>
            </div>
        </div>
        <div class="panel panel-default timeline-appointments">
            <div class="panel-heading">
                <div class="pull-left{% if rtl %} flip{% endif %}">
                    <a href="#" class="btn btn-primary"><i class="fa fa-fw fa-plus"></i> Add appointment</a>
                </div>
                <div class="pull-right{% if rtl %} flip{% endif %}">
                    <a href="#"><i class="fa fa-fw fa-arrow-left"></i></a>
                    <span class="date">Friday, Nov 15, 2013</span>

                    <a href="#"><i class="fa fa-fw fa-arrow-right"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>

            <!-- Body -->
            <ul class="list-unstyled">
                <li>
                    <div class="time">8:00 <span class="text-muted">am</span></div>
                    <i class="fa fa-dot-circle-o text-primary dot"></i>

                    <div class="appointments">
                        <ul class="list-unstyled">
                            <li>
                                <div class="apt">
                                    <div class="btn-group btn-group-xs pull-right{% if rtl %} flip {% endif %}">
                                        <a href="" class="btn btn-default"><i class="fa fa-edit"></i></a>
                                        <a href="" class="btn btn-default"><i class="fa fa-times"></i></a>
                                    </div>
                                    <a href="" class="text-regular strong"><i class="fa fa-fw fa-user"></i> Saul
                                        Jehonathan</a> <i class="text-muted fa fa-ellipsis-h"></i> Ultrasonographer
                                    <span class="label label-default">tag</span>
                                </div>
                            </li>
                            <li>
                                <div class="apt">
                                    <div class="btn-group btn-group-xs pull-right{% if rtl %} flip {% endif %}">
                                        <a href="" class="btn btn-default"><i class="fa fa-edit"></i></a>
                                        <a href="" class="btn btn-default"><i class="fa fa-times"></i></a>
                                    </div>
                                    <a href="" class="text-regular strong"><i class="fa fa-fw fa-user"></i> Gautam Alain</a>
                                    <i class="text-muted fa fa-ellipsis-h"></i> Gynaecologist
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="time">9:00 <span class="text-muted">am</span></div>
                    <i class="fa fa-dot-circle-o text-primary dot"></i>
                    <div class="appointments"></div>
                </li>
                <li>
                    <div class="time">10:00 <span class="text-muted">am</span></div>
                    <i class="fa fa-dot-circle-o text-primary dot"></i>
                    <div class="appointments">
                        <ul class="list-unstyled">
                            <li>
                                <div class="apt">
                                    <div class="btn-group btn-group-xs pull-right{% if rtl %} flip {% endif %}">
                                        <a href="" class="btn btn-default"><i class="fa fa-edit"></i></a>
                                        <a href="" class="btn btn-default"><i class="fa fa-times"></i></a>
                                    </div>
                                    <a href="" class="text-regular strong"><i class="fa fa-fw fa-female"></i> Fima
                                        Brennus</a> <i class="text-muted fa fa-stethoscope"></i> Consultation
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="time">11:00 <span class="text-muted">am</span></div>
                    <i class="fa fa-dot-circle-o text-primary dot"></i>
                    <div class="appointments">
                        <ul class="list-unstyled">
                            <li>
                                <div class="apt">
                                    <div class="btn-group btn-group-xs pull-right{% if rtl %} flip {% endif %}">
                                        <a href="" class="btn btn-success"><i class="fa fa-plus"></i></a>
                                    </div>
                                    <span class="text-muted">Empty time slot ...</span>
                                </div>
                            </li>
                            <li class="bg-primary-light text-danger">
                                <i class="fa fa-fw fa-clock-o"></i> Half an hour break
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="time">12:00 <span class="text-muted">pm</span></div>
                    <i class="fa fa-dot-circle-o text-primary dot"></i>
                    <div class="appointments"></div>
                </li>
                <li>
                    <div class="time">1:00 <span class="text-muted">pm</span></div>
                    <i class="fa fa-dot-circle-o text-primary dot"></i>
                    <div class="appointments">
                        <ul class="list-unstyled">
                            <li class="text">
                                <div class="strong text-regular"><i class="fa fa-fw fa-file-text-o"></i> Just a note</div>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, enim culpa adipisci
                                atque consequatur sequi eligendi dignissimos minus asperiores esse. Numquam, voluptates,
                                explicabo doloremque obcaecati laboriosam nulla ab fugiat hic.
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="time">2:00 <span class="text-muted">pm</span></div>
                    <i class="fa fa-dot-circle-o text-primary dot"></i>
                    <div class="appointments"></div>
                </li>
                <li>
                    <div class="time">3:00 <span class="text-muted">pm</span></div>
                    <i class="fa fa-dot-circle-o text-primary dot"></i>
                    <div class="appointments"></div>
                </li>
                <li>
                    <div class="time">4:00 <span class="text-muted">pm</span></div>
                    <i class="fa fa-dot-circle-o text-primary dot"></i>
                    <div class="appointments"></div>
                </li>
                <li>
                    <div class="time">5:00 <span class="text-muted">pm</span></div>
                    <i class="fa fa-dot-circle-o text-primary dot"></i>
                    <div class="appointments"></div>
                </li>
            </ul>

            <!-- /Body-->
        </div>
        <!-- /panel-->
    </div>
    <!-- // END col -->

</div>