<div class="container-fluid split-vertical">

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="media">
                <div class="pull-left media-object{% if rtl %} flip{% endif %}">
                    <img src="images/people/50/guy-6.jpg" alt="alt" class="img-circle"/>
                </div>
                <div class="media-body">
                    <div class="pull-right text-muted{% if rtl %} flip{% endif %}">
                        <i class="fa fa-calendar"></i><strong> 18 Oct</strong>
                    </div>
                    <h4 class="media-heading margin-v-5">Subject of the Email</h4>
                    <div class="text-default">
                        <span class="hidden-xs">Adrian Demian /</span>
                        <a href="#">contact@mosaicpro.biz</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="split-vertical-body">

        <div class="split-vertical-cell">

            <div class="panel panel-default">
                <div class="panel-body">
                    <div data-scrollable>
                        <div class="overflow-hidden">
                            <p>Hi Adrian,</p>

                            <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>

                            <p> Adipisci aspernatur distinctio dolorum eligendi, error eum fugit illo laudantium
                                magni necessitatibus
                                nobis numquam, praesentium provident repellat sed sint, soluta tenetur
                                voluptatibus?</p>

                            <p>Accusantium, beatae ea enim minima necessitatibus odit sit temporibus. A aliquam,
                                aperiam at corporis earum eum fugit incidunt libero nostrum officia provident, quae
                                quod reiciendis repellendus repudiandae voluptate voluptates, voluptatum?</p>

                            --
                            <p class="text-default">Thanks,<br/>
                                Adrian<br/>
                                <a href="#">contact@mosaicpro.biz</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>