{% include "src/html/themes/admin-angular/_navbar.html" %}
{% include "src/html/themes/admin-angular/_sidebar.html" { sidebarOptions: "left sidebar-size-1 sidebar-mini sidebar-offset-0 sidebar-skin-dark sidebar-visible-desktop sidebar-visible-mobile", sidebarData: "data-type=dropdown" } %}
{% include "src/html/themes/admin-angular/_sidebar.html" { sidebarId: 2, sidebarOptions: "right sidebar-size-2 sidebar-offset-0 sidebar-skin-white sidebar-visible-desktop", sidebarData: "data-type=collapse" } %}

<div id="content">
    <div class="container-fluid">
        {% include "lib/layout/html/samples/_layouts.html" { fixed: false } %}
    </div>
</div>