{% include "src/html/themes/admin-angular/_navbar.html" %}
{% include "src/html/themes/admin-angular/_sidebar.html" { sidebarOptions: "left sidebar-size-1 sidebar-mini-reveal sidebar-offset-0 sidebar-skin-dark sidebar-visible-desktop sidebar-visible-mobile", sidebarData: "id=sidebar-menu data-type=dropdown", sidebarMenu: "sm-icons-block sm-icons-right" } %}
{% include "src/html/themes/admin-angular/_sidebar.html" { sidebarId: 2, sidebarOptions: "right sidebar-size-1 sidebar-mini-reveal sidebar-offset-0 sidebar-skin-white sidebar-visible-desktop sidebar-visible-mobile", sidebarData: "id=sidebar-menu data-type=dropdown", sidebarMenu: "sm-icons-block sm-active-item-bg" } %}

<div id="content">
    <div class="container-fluid">
        {% include "lib/layout/html/samples/_layouts.html" { fixed: false } %}
    </div>
</div>