<!-- Fixed navbar -->
<div class="navbar navbar-main navbar-primary navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#sidebar-menu" data-effect="st-effect-1" data-toggle="sidebar-menu" class="toggle pull-left visible-xs"><i class="fa fa-ellipsis-v"></i></a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#sidebar-chat" data-toggle="sidebar-menu" data-effect="st-effect-1" class="toggle pull-right visible-xs"><i class="fa fa-comments"></i></a>
            <a class="navbar-brand" href="index.html">ThemeKit</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="nav navbar-nav">
                <li><a href="../../../index.html">Themes</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header">Public User Pages</li>
                        <li{% if page.slug == 'index' %} class="active"{% endif %}><a href="index.html">Timeline</a></li>
                        <li{% if page.slug == 'user-public-profile' %} class="active"{% endif %}><a href="user-public-profile.html">About</a></li>
                        <li{% if page.slug == 'user-public-users' %} class="active"{% endif %}><a href="user-public-users.html">Friends</a></li>
                        <li class="dropdown-header">Private User Pages</li>
                        <li{% if page.slug == 'user-private-messages' %} class="active"{% endif %}><a href="user-private-messages.html">Messages</a></li>
                        <li{% if page.slug == 'user-private-profile' %} class="active"{% endif %}><a href="user-private-profile.html">Profile</a></li>
                        <li{% if page.slug == 'user-private-timeline' %} class="active"{% endif %}><a href="user-private-timeline.html">Timeline</a></li>
                        <li{% if page.slug == 'user-private-users' %} class="active"{% endif %}><a href="user-private-users.html">Friends</a></li>
                    </ul>
                </li>
                <li{% if page.slug|contains('essential') %} class="active"{% endif %}><a href="essential-buttons.html">UI Components</a></li>
                <li class="hidden-sm" data-toggle="tooltip" data-placement="bottom" title="A few Color Examples. Download includes CSS Files for all color examples & the tools to Generate any Color combination. This Color-Switcher is for previewing purposes only.">
                   {% include "src/html/common/components/skins.html" { theme: 2 } %}
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right{% if rtl %} flip{% endif %}">
                <li class="hidden-xs">
                    <a href="#sidebar-chat" data-toggle="sidebar-menu" data-effect="st-effect-1">
                        <i class="fa fa-comments"></i>
                    </a>
                </li>
                <!-- User -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle user" data-toggle="dropdown">
                        <img src="images/people/110/guy-5.jpg" alt="Bill" class="img-circle" width="40"/>
                        Bill <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li{% if page.slug == 'user-private-profile' %} class="active"{% endif %}><a href="user-private-profile.html">Profile</a></li>
                        <li><a href="user-private-messages.html">Messages</a></li>
                        <li><a href="login.html">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->

    </div>
</div>