<nav class="navbar navbar-subnav navbar-static-top{% if page.slug == "user-private-timeline" %} margin-bottom-none{% endif %}" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#subnav">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-ellipsis-h"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="subnav">
            <ul class="nav navbar-nav {% if rtl %}navbar-right {% endif %}">
                <li {% if (page.slug == 'user-private-timeline') %} class="active"{% endif %}><a href="user-private-timeline.html"><i class="fa fa-fw icon-ship-wheel"></i> My Timeline</a></li>
            </ul>
            <ul class="nav navbar-nav {% if !rtl %} navbar-right {% endif %}{% if rtl %} navbar-left {% endif %}">
                <li><a href="login.html"> Logout<i class="fa fa-fw fa-sign-out"></i></a></li>
            </ul>
        </div><!-- /.navbar-collapse -->

    </div>
</nav>