<nav class="navbar navbar-subnav navbar-static-top margin-bottom-none" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#subnav">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-ellipsis-h"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="subnav">
            <ul class="nav navbar-nav {% if rtl %}navbar-right {% endif %}">
                <li {% if (page.slug == 'index') %} class="active"{% endif %}><a href="index.html"><i class="fa fa-fw icon-ship-wheel"></i> Timeline</a></li>
                <li {% if (page.slug == 'user-public-profile') %} class="active"{% endif %}><a href="user-public-profile.html"><i class="fa fa-fw icon-user-1"></i> About</a></li>
                <li {% if (page.slug == 'user-public-users') %} class="active"{% endif %}><a href="user-public-users.html"><i class="fa fa-fw fa-users"></i> Friends</a></li>
            </ul>
            <ul class="nav navbar-nav hidden-xs{% if !rtl %} navbar-right {% endif %}{% if rtl %} navbar-left {% endif %}">
                <li><a href="#" data-toggle="chat-box">Chat <i class="fa fa-fw fa-comment-o"></i></a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>

</nav>