{% extends "src/html/themes/choose/_layout.html" %}

{% block content %}

	<div class="container">
		<div class="alert alert-choose margin-none"> <i class="fa fa-gift fa-fw text-success fa-2x"></i> Purchase ONCE and get endless amazing updates along with new Themes</div>
		<div class="page-section text-center">
			<h1>ThemeKit - Multiple Themes & UI Framework</h1>
			<p class="lead margin-none">ThemeKit is a collection of multiple themes all of which use a single framework and fully compatible user interface and components.</p>
		</div>
	</div>

	<hr/>

	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-4 text-center">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a href="dist/themes/admin/index.html">Admin Dashboard Template</a></h4>
					</div>
					<div class="panel-body">
						<a href="dist/themes/admin/index.html">
							<img src="choose/images/admin.png" alt="Admin Template" class="img-responsive"/>
						</a>
						<a href="dist/themes/admin/index.html" class="btn btn-primary"><i class="fa fa-check fa-fw"></i> HTML</a>
						<a href="dist/themes/admin-angular/index.html" class="btn btn-danger"><i class="fa fa-check fa-fw"></i> Angular</a>
						<a href="dist/themes/admin-rtl/index.html" class="btn btn-default"><i class="fa fa-check fa-fw"></i> RTL</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 text-center">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a href="dist/themes/real-estate/index.html">Real Estate Theme</a></h4>
					</div>
					<div class="panel-body">
						<a href="dist/themes/real-estate/index.html">
							<img src="choose/images/real-estate.png" alt="Real Estate" class="img-responsive"/>
						</a>
						<a href="dist/themes/real-estate/index.html" class="btn btn-primary">
							<i class="fa fa-check fa-fw"></i> HTML
						</a>
						<a href="#modal-real-estate" class="btn btn-danger" data-toggle="modal">
							<i class="fa fa-credit-card fa-fw"></i> Angular
						</a>
						<a href="#modal-real-estate" class="btn btn-default" data-toggle="modal">
							<i class="fa fa-credit-card fa-fw"></i> RTL
						</a>

					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 text-center">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a href="dist/themes/music/index.html">Music Theme</a></h4>
					</div>
					<div class="panel-body">
						<a href="dist/themes/music/index.html">
							<img src="choose/images/music.png" alt="Music Template" class="img-responsive"/>
						</a>
						<a href="dist/themes/music/index.html" class="btn btn-primary"><i class="fa fa-check fa-fw"></i> HTML</a>
						<a href="dist/themes/music-rtl/index.html" class="btn btn-default"><i class="fa fa-check fa-fw"></i> RTL</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 text-center">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a href="dist/themes/social-1/index.html">Social Network #1</a></h4>
					</div>
					<div class="panel-body">
						<a href="dist/themes/social-1/index.html">
							<img src="choose/images/social-1.png" alt="Social Network Template" class="img-responsive"/>
						</a>
						<a href="dist/themes/social-1/index.html" class="btn btn-primary"><i class="fa fa-check fa-fw"></i> HTML</a>
						<a href="dist/themes/social-1-rtl/index.html" class="btn btn-default"><i class="fa fa-check fa-fw"></i> RTL</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 text-center">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a href="dist/themes/social-2/index.html">Social Network #2</a></h4>
					</div>
					<div class="panel-body">
						<a href="dist/themes/social-2/index.html">
							<img src="choose/images/social-2.png" alt="Social Network Template" class="img-responsive"/>
						</a>
						<a href="dist/themes/social-2/index.html" class="btn btn-primary"><i class="fa fa-check fa-fw"></i> HTML</a>
						<a href="dist/themes/social-2-rtl/index.html" class="btn btn-default"><i class="fa fa-check fa-fw"></i> RTL</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 text-center">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a href="dist/themes/social-3/index.html">Social Network - Fixed Layout</a></h4>
					</div>
					<div class="panel-body">
						<a href="dist/themes/social-3/index.html">
							<img src="choose/images/social-3.png" alt="Social Network Template" class="img-responsive"/>
						</a>
						<a href="dist/themes/social-3/index.html" class="btn btn-primary"><i class="fa fa-check fa-fw"></i> HTML</a>
						<a href="dist/themes/social-3-rtl/index.html" class="btn btn-default"><i class="fa fa-check fa-fw"></i> RTL</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 text-center">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a href="dist/themes/learning/index.html">Learning Management Theme</a></h4>
					</div>
					<div class="panel-body">
						<a href="dist/themes/learning/index.html">
							<img src="choose/images/learning.png" alt="Learning Management Theme" class="img-responsive"/>
						</a>
						<a href="dist/themes/learning/index.html" class="btn btn-primary"><i class="fa fa-check fa-fw"></i> HTML</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr/>
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-4 text-center">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a href="dist/ui/layout/index.html">Layout KIT</a></h4>
					</div>
					<div class="panel-body">
						<a href="dist/ui/layout/index.html">
							<img src="choose/images/layout.png" alt="Layouts" class="img-responsive"/>
						</a>
						<a href="dist/ui/layout/index.html" class="btn btn-primary">Live Demo - HTML</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 text-center">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a href="dist/ui/sidebar/index.html">Sidebar KIT</a></h4>
					</div>
					<div class="panel-body">
						<a href="dist/ui/sidebar/index.html">
							<img src="choose/images/sidebar.png" alt="Sidebar KIT" class="img-responsive"/>
						</a>
						<a href="dist/ui/sidebar/index.html" class="btn btn-primary">Live Demo - HTML</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 text-center">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a href="dist/ui/navbar/index.html">Navbar KIT</a></h4>
					</div>
					<div class="panel-body">
						<a href="dist/ui/navbar/index.html">
							<img src="choose/images/navbar.png" alt="Navbar" class="img-responsive"/>
						</a>
						<a href="dist/ui/navbar/index.html" class="btn btn-primary">Live Demo - HTML</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 text-center">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a href="dist/ui/essential/index.html">Essentials KIT</a></h4>
					</div>
					<div class="panel-body">
						<a href="dist/ui/essential/index.html">
							<img src="choose/images/essentials.png" alt="Essential User Interface Elements" class="img-responsive"/>
						</a>
						<a href="dist/ui/essential/index.html" class="btn btn-primary">Live Demo - HTML</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 text-center">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a href="dist/ui/color/index.html">Color KIT</a></h4>
					</div>
					<div class="panel-body">
						<a href="dist/ui/color/index.html">
							<img src="choose/images/colors.png" alt="Various Colored HTML Elements" class="img-responsive"/>
						</a>
						<a href="dist/ui/color/index.html" class="btn btn-primary">Live Demo - HTML</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal grow modal-overlay modal-backdrop-white fade" id="modal-real-estate">
		<div class="modal-dialog">
			<div class="v-cell">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title">Real Estate - HTML, Angular & RTL Listings Template</h4>
					</div>
					<div class="modal-body">
						<p><strong>Note</strong>: ThemeKit includes the HTML version of Real Estate.</p>
						<a href="http://themeforest.net/item/real-estate-html-angular-rtl-listing-template/10151385?ref=mosaicpro&utm_source=themekit_choose&utm_medium=modal_preview&utm_campaign=real-estate" target="_blank"><img src="https://0.s3.envato.com/files/120441528/preview-angular.__large_preview.jpg" alt="Real Estate"/></a>
					</div>
					<div class="modal-footer">
						<div class="text-center">
							<a target="_blank" href="http://themeforest.net/item/real-estate-html-angular-rtl-listing-template/10151385?ref=mosaicpro&utm_source=themekit_choose&utm_medium=modal_button&utm_campaign=real-estate" class="btn btn-success"><i class="fa fa-credit-card fa-fw"></i> Purchase HTML, Angular &amp; RTL for &dollar;17</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}