a.navbar-brand {
  background: #333333;
  color: #fff;
}
.alert-choose {
  background: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  border-left: 8px solid #81b53e;
}
.alert-choose i {
  vertical-align: middle;
}
@media (max-width: 768px) {
  .alert-choose i {
    display: none;
  }
}
.panel .panel-body img {
  margin-bottom: 15px;
}
