<!-- Fixed navbar -->
<div class="navbar navbar-main navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">

            <!-- Left Toggle Button Mobile & Desktop -->
            <a href="#" data-toggle="sidebar-menu" class="toggle pull-left">
                <i class="fa fa-bars"></i>
            </a>

            <!-- Brand -->
            <a class="navbar-brand" href="index.html">Layout Kit</a>
        </div>

        <div class="navbar-collapse collapse" id="collapse">
            <ul class="nav navbar-nav">
                <li><a href="../../../index.html">Themes</a></li>
            </ul>
        </div>
    </div>
</div>