<!-- Fixed navbar -->
<div class="navbar navbar-main navbar-primary navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#sidebar-chat" data-toggle="sidebar-menu" class="toggle pull-right visible-xs"><i class="fa fa-comments"></i></a>
            <a class="navbar-brand" href="index.html">Learning</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="nav navbar-nav">
                <li{% if page.slug == 'tutors' %} class="active"{% endif %}><a href="tutors.html">Tutors</a></li>
                <li{% if page.slug == 'survey' %} class="active"{% endif %}><a href="survey.html">Survey</a></li>
                <li{% if page.slug == 'library' or page.slug == 'library-grid' or page.slug == 'lesson' %} class="active"{% endif %}><a href="library-grid.html">Library</a></li>
                <li class="dropdown{% if page.slug|contains('essential') %} active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">UI <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li{% if (page.slug == 'essential-buttons') %} class="active"{% endif %}><a href="essential-buttons.html"><i class="fa fa-th"></i> Buttons</a></li>
                        <li{% if (page.slug == 'essential-icons') %} class="active"{% endif %}><a href="essential-icons.html"><i class="fa fa-paint-brush"></i> Icons</a></li>
                        <li{% if (page.slug == 'essential-progress') %} class="active"{% endif %}><a href="essential-progress.html"><i class="fa fa-tasks"></i> Progress</a></li>
                        <li{% if (page.slug == 'essential-grid') %} class="active"{% endif %}><a href="essential-grid.html"><i class="fa fa-columns"></i> Grid</a></li>
                        <li{% if (page.slug == 'essential-forms') %} class="active"{% endif %}><a href="essential-forms.html"><i class="fa fa-sliders"></i> Forms</a></li>
                        <li{% if (page.slug == 'essential-tables') %} class="active"{% endif %}><a href="essential-tables.html"><i class="fa fa-table"></i> Tables</a></li>
                        <li{% if (page.slug == 'essential-tabs') %} class="active"{% endif %}><a href="essential-tabs.html"><i class="fa fa-circle-o"></i> Tabs</a></li>
                    </ul>
                </li>
                <li><a href="../../../index.html">Themes</a></li>
                <li data-toggle="tooltip" data-placement="bottom" title="A few Color Examples. Download includes CSS Files for all color examples & the tools to Generate any Color combination. This Color-Switcher is for previewing purposes only.">
                   {% include "src/html/common/components/skins.html" { theme: 4 } %}
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden-xs">
                    <a href="#sidebar-chat" data-toggle="sidebar-menu">
                        <i class="fa fa-comments"></i>
                    </a>
                </li>
                <li><a href="login.html">Log In</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->

    </div>
</div>