<div class="sidebar{% if sidebarOptions %} {{ sidebarOptions }}{% endif %}"{% if sidebarData %} {{ sidebarData }}{% endif %}>
    <div data-scrollable>
        <div class="sidebar-block sidebar-block-full padding-none">
            <div class="cover overlay cover-image-full height-160">
                <img src="images/400/fashion-beauty-portrait-sexy-girl.jpg" alt="people" />
                <div class="overlay overlay-bg-black overlay-full">
                    <div class="v-center">
                        <h3 class="text-h3 margin-none text-overlay">Lindsay Star</h3>
                    </div>
                </div>
            </div>
        </div>
        <h4 class="category">About the Artist</h4>
        <div class="sidebar-block">
            <ul class="list-about">
                <li><i class="fa fa-map-marker"></i> Amsterdam, NL</li>
                <li><i class="fa fa-link"></i> <a href="#">Visit website</a></li>
                <li><i class="fa fa-twitter"></i> <a href="#">/lindsay.star</a></li>
            </ul>
        </div>
        <div class="sidebar-block text-center equal-padding">
            <a class="btn btn-pink-500" href="">Follow <i class="fa fa-fw fa-plus"></i></a>
        </div>
    </div>
</div>